.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px; 
    /* width: 100%; */
    /* height: 100%; */
    /* position: fixed; */
}

a{
    position: relative;
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
   }
   a:hover
   {
    animation: animate 5s linear infinite;
   }
   @keyframes animate
   {
    0%
    {
     background-position: 0%;
    }
    100%
    {
     background-position: 400%;
    }
   }
   a:before
   {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 100%;
    opacity: 0;
    transition: 0.5s;
   
    
   }
   a:hover:before
   {
    
    filter: blur(20px);
    opacity:1;
    animation: animate 5s linear infinite;
   }