.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 210px; */
    /* max-height: 290px; */
    width: 160px;
    height: 240px;
    border-radius: 6px;
    /* background:#1A1818; */
    background-image: linear-gradient(#2F2E2E, #1A1818);
    box-shadow: 0 4px 8px 0 #1A1818, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
}

.Card:hover {
    transform: scale(1.2);
}

.Top {
    text-align: right;
    margin: 10px;
}

.Bottom {
    text-align: right;
    margin: 10px;
    transform: rotate(180deg);
}

.Symbol {
    font-size: 18px;
}

.TextCenter {
    padding-left: 10px;
    letter-spacing: 12px
}

span {
    color: #B22222;
    display: block;
    font-size: 24px;
}
