.gameContainer {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 512px;
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
    transform: translateX(-50%);
    left: 50%;
}

.dealerContainer {
    display: flex;
    justify-content: center;
    padding-top: 50px; 
    width: 100%;
}

.playerContainer {
    display: flex;
    justify-content: center;
    padding-top: 80px; 
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.score {
    /* z-index: -100;
    position: absolute; */
    /* padding-top: 120px; */
    width: 45px;
    height: 45px;
    font-size: 32px;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 8px;
}

.modal {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    background-image: linear-gradient(#74ebd5, #ACB6E5);
}

.message {
    font-size: 30;
    font-weight: 600;
    padding-top: 50px;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    border-radius: 12px;
    background-image: linear-gradient(#74ebd5, #ACB6E5);
}

.logout {
    top: 100px;
}