.loginContainer {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.btn-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* width: 100%; */
}