@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


html, body, #root {
  height: 100%;
  background-image: linear-gradient(#ad5389, #3c1053);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.test {
  width: 350px;
  height: 260px;
  border-radius: 12px;
  background-image: linear-gradient(#ffc0cb, #ad5389, #3c1053);
}
